@{
    ViewData["Title"] = "Document not supported";
}
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Document not supported</h3>
            </div>
            <div class="panel-body">
                <p>This document type is not supported yet.</p>
                <p>If you keep recievidocng this message please contact your system administrator.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <p class="navbar-text"><button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Home")'">Ok</button></p>
            </div>
        </nav>
    </div>
</div>