@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <h3>Welcome to PDF Online Signature</h3>
        <p>&nbsp;</p>
        <p>This application allows you to sign PDF documents, and verify the signature</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>Access to this portal can only be done by digital certificates, if you wish to access this platform please contact your IT Department.</p>
    </div>
</div>
