<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Certificate expired</h3>
            </div>
            <div class="panel-body">
                <p>This Certificate has expired, please request a new one if you want to sign any document.</p>
                <p>If you keep recieving this message please contact your system administrator.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <p class="navbar-text"><button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Home")'">Ok</button></p>
            </div>
        </nav>
    </div>
</div>